.main-form-container {
    height: inherit;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #fff;
}

.main-form-container .form-container {
    background-color: rgba(253, 231, 171, 0.774);
    margin-top: 3rem;
    padding: 1rem;
    width: 30vw;
    border-radius: 1rem;
}

.main-form-container .form-container .form {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-form-container .form-container .form input {
    margin: 1rem 0 1rem 0;
    padding: 1rem;
    outline: none;
    font-size: 1rem;
    text-align: center;
    width: 20vw;
    border: 0;
    background-color: #fff;
    border-radius: 0.5rem;
    transition: all 300ms ease-in-out;
    font-family: monospace;
}

.main-form-container .form-container .form input:focus {
    border: 1px solid #000;
    background-color: #ebe8e1;
}
.main-form-container .form-container .form input[type='submit']:hover {
    background-color: #fff;
    color: #000;
}
.main-form-container .form-container .form input[type='submit'] {
    margin: 2rem 0 2rem 0;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    width: 10vw;
    cursor: pointer;
    border: 3px solid #000;
    background-color: #000;
    color: #fff;
}

.reg-login {
    margin-top: 0;
    font-size: 1rem;
}

.reg-login-link {
    text-decoration: none;
    color: #2d2d2d;
    font-weight: bold;
}

.reg-login-link:hover {
    text-decoration: underline;
    color: #000;
}

.btn-cont {
    display: flex;
}

.btn-role {
    border: 0;
    cursor: pointer;
    margin: 5px;
    padding: 0.5rem;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #000;
    font-weight: 500;
    font-family: monospace;
    transition: 400ms;
}

.popup-container {
    color: #fff;
    top: 30%;
    left: 33%;
    z-index: 100;
    position: fixed;
    font-family: monospace;
    border: 1px solid #000;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}
.popup-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    border-radius: 10px;
    height: 30vh;
    width: 34vw;
    background-color: rgba(245, 245, 245, 0.842);
}

.popup-input {
    width: 25vw;
    text-align: center;
    padding: 0.5rem;
    border: 2px solid #000;
}

.popup-btn {
    padding: 0.5rem;
    width: 7vw;
    border: 2px solid #000;
    cursor: pointer;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
    transition: 400ms ease-in-out;
}

.popup-btn:hover {
    background-color: #fff;
    color: #000;
}

@media screen and (max-width: 950px) {
    .popup-form {
        width: 40vw;
    }

    .popup-input {
        width: 30vw;
    }
    .popup-btn {
        width: 10vw;
    }

    .main-form-container .form-container {
        width: 40vw;
    }

    .main-form-container .form-container .form input {
        width: 30vw;
    }

    .main-form-container .form-container .form input[type='submit'] {
        width: 20vw;
    }
}
@media screen and (max-width: 670px) {
    .popup-container {
        left: 25%;
    }
    .popup-form {
        width: 50vw;
    }

    .popup-input {
        width: 40vw;
    }
    .popup-btn {
        width: 20vw;
    }
    .main-form-container .form-container {
        width: 60vw;
    }

    .main-form-container .form-container .form input {
        width: 50vw;
    }

    .main-form-container .form-container .form input[type='submit'] {
        width: 40vw;
    }
}

@media screen and (max-width: 400px) {
    .popup-container {
        left: 17%;
    }
    .popup-form {
        width: 70vw;
    }

    .popup-input {
        width: 60vw;
    }
    .popup-btn {
        width: 30vw;
    }
    .main-form-container {
        display: block;
        width: 100%;
        overflow-y: hidden;
        background-color: #fff;
    }
    .main-form-container .form-container {
        width: 100%;
        padding: 0;
        background-color: #fff;
    }

    .main-form-container .form-container .form {
        padding: 0 2rem;
    }

    .main-form-container .form-container .form input {
        width: 100%;
        background-color: #d2f3ef;
    }

    .main-form-container .form-container .form input [type='submit'] {
        width: 40vw;
    }
}

/* Tejas CSS */
* {
    font-family: monospace, gadugi, sans-serif;
    font-size: 18px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    --prim: #17252a;
    --secd: #2b7a78;
    --shade1: #3aafa9;
}

.card-container {
    display: flex;
    background-color: white;
    margin: 0.5rem;
    border-radius: 2px;
    box-shadow: 1px 1px 5px black;
    width: 400px;
    height: 200px;
}
.card-image {
    position: relative;
    max-width: 30%;
    display: block;
}
.card-image img {
    display: block;
    position: relative;
    max-width: 100%;
    width: auto;
    height: 100%;
}
.card-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
}
.card-text {
    flex-grow: 1;
    padding: 1rem;
    overflow-y: scroll;
}
.card-action {
    border-top: 1px solid #ddd;
    position: relative;
    padding: 0.8rem 2rem;
    text-align: right;
}
.btn {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    background: none;
    padding: 0.5rem 1.1rem;
    cursor: pointer;
    margin: 0.2rem;
}
.btn-primary {
    background-color: var(--shade1);
    color: white;
    transition: 0.3s ease-in-out;
}
.btn-primary:hover {
    background-color: var(--secd);
}
.btn-primary:active {
    text-decoration: underline;
}
.btn-round {
    border-radius: 1rem;
}
.btn-txt {
    transition: 0.1s ease-in-out;
    color: rgb(55, 69, 219);
    padding: 0px;
}

.btn-txt:hover {
    color: rgb(40, 50, 250);
    text-decoration: underline;
}
.flexbox-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.navbar-container {
    display: flex;
    background: var(--prim);
    position: sticky;
    padding-right: 3rem;
    top: 0;
    left: 0;
    z-index: 3;
    height: 3.5rem;
    align-items: center;
    justify-content: space-between;
}
.navbar-brand {
    display: flex;
    align-items: center;
}
.navbar-icon {
    height: 3rem;
    width: 3rem;
    margin-left: 1rem;
    border-radius: 50%;
}
.navbar-brand h3 {
    margin: 0px 1rem 0rem 1rem;
    color: white;
    font-size: 1.5rem;
}

.navbar-items {
    display: flex;
    height: 100%;
    align-items: center;
}

.navbar-link {
    display: inline-block;
    text-decoration: none;
    font-size: 1.3rem;
    height: 100%;
    text-align: center;
    position: relative;
    color: white;
    padding: 0.8rem 3rem 0rem 3rem;
}
.navbar-link:hover {
    background: var(--secd);
}
.menubar-show {
    margin: 0px 0.5rem;
    width: 2rem;
    height: 2rem;
}
.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 1rem;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 3rem;
    box-shadow: 0px 0px 3px black;
    margin-left: 3px;
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content:hover a:hover {
    background-color: #ddd;
}

.dropdown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}
.dropdown-content:hover p:hover {
    background-color: #ddd;
}

.card-user-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    min-width: 8rem;
    height: 2.5rem;
    border-radius: 0.5rem;
}
.card-user-icon {
    width: 2rem;
    height: 2rem;
    margin-left: 0.6rem;
    border-radius: 50%;
    border: solid black 1px;
}
#card-user-name {
    font-size: 0.8rem;
    padding: 0.7rem;
}
#card-dropdown {
    margin-left: 10%;
}
.card-user-container:hover {
    cursor: pointer;
    background-color: #ddd;
}

/* sidebar  */
.sidebar {
    display: flex;
    background-color: var(--prim);
    height: 3rem;
    width: 3rem;
    justify-content: center;
    align-items: center;
}
.menu-btn > svg {
    font-size: 1.6rem;
    background: none;
    color: white;
}

.menu {
    background-color: var(--prim);
    width: 15rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 0.6s ease-in;
}
.menu.active {
    left: 0;
    transition: 0.5s ease-out;
}
.menu-items {
    list-style: none;
    width: 100%;
}
.menu-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem 1rem 0.5rem 1rem;
    height: 3.2rem;
}
.menu-text > a {
    text-decoration: none;
    color: white;
    font-size: 1.2 rem;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    width: 100%;
}
.menu-text > a:hover {
    background-color: #2b7a78;
}
.menu-text span {
    margin-left: 1.5rem;
}
.menu-close-btn {
    width: 100%;
    padding-left: 0.8;
    height: 4rem;
    display: flex;
    align-items: center;
}
/* /sidebar */

/* Teacher DashBoard start */
.body-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
}
.copied-label {
    display: none;
    background: white;
    color: slategray;
    margin-left: 0.6rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    border-radius: 10%;
    font-size: 0.6rem;
}
.heading-sep {
    margin-left: 2.3rem;
    margin-top: 0.5rem;
    margin-right: 3rem;
    border-bottom: 2px solid lightslategray;
    font-size: 1.7rem;
    color: #354146;
}
.r1 {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    width: 100%;
}
.r1-card {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 1;
    border: 1px solid gray;
    border-radius: 10px;
    min-width: 13rem;
    max-width: 25rem;
    height: 12rem;
    background: white;
    margin: 0.5rem;
}
.r-card-top {
    width: 100%;
    position: relative;
    background: var(--secd);
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid gray;
    font-weight: bold;
    height: 30%;
    align-items: center;
}
.r-card-top > img {
    width: 2.5rem;
    height: 2.5rem;
    border: 3px solid darkgray;
    border-radius: 50%;
    margin: 1rem 1rem 1rem 2rem;
}
.r-card-top > a {
    text-decoration: none;
}
.r-card-top > span,
.r-card-top a > span {
    font-size: 1.2rem;
    display: block;
    text-decoration: none;
    color: white;
    margin-left: 1rem;
}
.r-card-top a span:hover {
    text-decoration: underline white solid;
}
.r-card-bottom {
    width: 100%;
    padding-left: 1rem;
    position: relative;
    height: 58%;
    overflow-y: auto;
}
.r-card-bottom > span {
    display: block;
}
.r-card-bottom > ul {
    list-style: none;
    overflow-y: auto;
}
.r2 {
    display: flex;
    justify-content: flex-start;
    flex-shrink: 0;
    column-gap: 2rem;
    padding: 0 1.5rem 2rem 1.5rem;
    flex-wrap: wrap;
    width: 100%;
}
.r2-card {
    width: 16rem;
    height: 12rem;
    border-radius: 10px;
    border: 1px solid gray;
    background: white;
    margin-top: 1rem;
}
.r2-card > .r-card-top {
    background-color: #000;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.create-btn {
    display: block;
    position: fixed;
    height: 4rem;
    width: 4rem;
    top: 82%;
    border: none;
    left: 90%;
    background: green;
    border-radius: 50%;
    box-shadow: 0px 0px 3px black;
}
.create-btn:hover {
    background: darkgreen;
    cursor: pointer;
    box-shadow: 0px 0px 8px black;
    transition: 0.1s;
}
.create-btn > img {
    position: relative;
    width: 50%;
    height: 50%;
    top: 0.2rem;
}
/* Teacher DashBoard end */

/* Test page */

.table-info {
    align-self: center;
    border-collapse: collapse;
    height: 80%;
}
.table-info th {
    font-weight: normal;
    width: 40%;
    color: black;
    text-align: start;
    font-weight: bold;
    font-size: 0.9rem;
    padding-left: 0.5rem;
}
.table-info td {
    font-size: 0.9rem;
    padding-left: 1rem;
    color: gray;
}
.center-msg {
    font-size: 1.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: gray;
}
#test-container {
    display: flex;
    justify-content: space-between;
}
#test-container > .r2 {
    width: 70%;
}
#test-search-container {
    width: 20rem;
    height: 24rem;
    padding: 0.5rem;
    border: 5px solid #17252a;
    margin: 0.5rem 1rem;
}
.test-list {
    background: white;
    color: black;
    padding: 0.5rem 0.8rem;
    border: 1px solid black;
    display: flex;
    margin-top: 0.2rem;
    justify-content: space-between;
    transition: 0.3s;
}
.test-list:hover {
    background-color: #354146;
    color: white;
}
/* Test page end */
@media only screen and (max-width: 1110px) {
    .navbar-link {
        padding: 1rem;
        font-size: 1rem;
    }

    .navbar-brand h3 {
        font-size: 1.2rem;
    }
    .btn {
        font-size: 0.8rem;
    }
    .r1 {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    #test-container > .r2 {
        width: 100%;
    }
    #test-container {
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }
}

@media only screen and (max-width: 900px) {
    .navbar-link {
        display: none;
    }
    .menubar-show {
        width: 1.2rem;
        height: 1.2rem;
    }
    .card-user-container {
        height: 2rem;
    }
    .card-user-icon {
        height: 1.6rem;
        width: 1.6rem;
    }
    .create-btn {
        left: 80%;
        width: 3.5rem;
        height: 3.5rem;
    }

    .r2 {
        justify-content: space-evenly;
    }
}

@media only screen and (max-width: 600px) {
    .navbar-icon {
        display: none;
    }
    #btn-sign-in {
        font-size: 0.7rem;
    }
    .dropdown {
        margin-left: 0;
    }
    .navbar-container {
        padding-right: 0rem;
    }
    .navbar-brand h3 {
        font-size: 1rem;
        margin-left: 0.2rem;
        margin-right: 0.2rem;
    }
    .card-user-container {
        min-width: unset;
    }
    #card-user-name {
        display: none;
    }
    #card-dropdown {
        left: -4rem;
        font-size: 0.8rem;
        width: 5.8rem;
    }
    .card-user-icon {
        margin: 0 0.5rem 0 0.5rem;
    }
    .heading-sep {
        font-size: 1.2rem;
        margin-top: 1rem;
    }
    #test-search-container {
        width: 12rem;
        font-size: 0.9rem;
    }
}

.big-table-content > tr > th,
.big-table-content > tr > td {
    width: 50%;
    text-align: start;
    font-size: 1rem;
    padding-left: 1.6rem;
}

/*Nadim css*/
.popup-Testcontainer {
    color: blue;
    top: 30%;
    left: 33%;
    z-index: 100;
    position: fixed;
    border-radius: 10px;
    border: 1px solid #000;
}
.popup-Testform {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    border-radius: 10px;
    /* height: 30vh; */
    width: 34vw;
    background-color: rgba(245, 245, 245, 0.842);
    backdrop-filter: blur(5px);
}
.test-heading {
    margin-top: 1rem;
}
.popup-testbttn {
    padding: 0.5rem;
    width: 10vw;
    border: 2px solid #000;
    cursor: pointer;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
    transition: 400ms ease-in-out;
    padding: 0.5rem;
    margin-bottom: 0.2rem;
}

.popup-testbttn:hover {
    background-color: #fff;
    color: #000;
}
@media screen and (max-width: 950px) {
    .popup-Testcontainer {
        left: 25%;
    }

    .popup-Testform {
        width: 40vw;
    }
}
