.main-form-container {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.main-form-container .form-container {
    background-color: rgba(253, 231, 171, 0.774);
    padding: 1rem;
    width: 30vw;
    border-radius: 1rem;
}

.main-form-container .form-container .form {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-form-container .form-container .form input {
    margin: 1rem 0 1rem 0;
    padding: 1rem;
    outline: none;
    font-size: 1rem;
    text-align: center;
    width: 20vw;
    border: 0;
    background-color: #fff;
    border-radius: 0.5rem;
    transition: all 300ms ease-in-out;
    font-family: monospace;
}

.main-form-container .form-container .form input:focus {
    border: 1px solid #000;
    background-color: #ebe8e1;
}
.main-form-container .form-container .form input[type='submit']:hover {
    background-color: #fff;
    color: #000;
}
.main-form-container .form-container .form input[type='submit'] {
    margin: 2rem 0 2rem 0;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    width: 10vw;
    cursor: pointer;
    border: 3px solid #000;
    background-color: #000;
    color: #fff;
}

.reg-login {
    margin-top: 0;
    font-size: 1rem;
}

.reg-login-link {
    text-decoration: none;
    color: #2d2d2d;
    font-weight: bold;
}

.reg-login-link:hover {
    text-decoration: underline;
    color: #000;
}

@media screen and (max-width: 950px) {
    .main-form-container .form-container {
        width: 40vw;
    }

    .main-form-container .form-container .form input {
        width: 30vw;
    }

    .main-form-container .form-container .form input[type='submit'] {
        width: 20vw;
    }
}
@media screen and (max-width: 600px) {
    .main-form-container .form-container {
        width: 60vw;
    }

    .main-form-container .form-container .form input {
        width: 50vw;
    }

    .main-form-container .form-container .form input[type='submit'] {
        width: 40vw;
    }
}

@media screen and (max-width: 400px) {
    .main-form-container {
        display: block;
        width: 100%;
        overflow-y: hidden;
        background-color: #fff;
    }
    .main-form-container .form-container {
        width: 100%;
        padding: 0;
        background-color: #fff;
    }

    .main-form-container .form-container .form {
        padding: 0 2rem;
    }

    .main-form-container .form-container .form input {
        width: 100%;
        background-color: #d2f3ef;
    }

    .main-form-container .form-container .form input [type='submit'] {
        width: 40vw;
    }
}

/* Tejas CSS */
* {
    font-family: gadugi, sans-serif;
    font-size: 18px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    --prim: #17252a;
    --secd: #2b7a78;
    --shade1: #3aafa9;
}

.card-container {
    display: flex;
    background-color: white;
    margin: 0.5rem;
    border-radius: 2px;
    box-shadow: 1px 1px 5px black;
    width: 400px;
    height: 200px;
}
.card-image {
    position: relative;
    max-width: 30%;
    display: block;
}
.card-image img {
    display: block;
    position: relative;
    max-width: 100%;
    width: auto;
    height: 100%;
}
.card-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
}
.card-text {
    flex-grow: 1;
    padding: 1rem;
    overflow-y: scroll;
}
.card-action {
    border-top: 1px solid #ddd;
    position: relative;
    padding: 0.8rem 2rem;
    text-align: right;
}
.btn {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    background: none;
    padding: 0.5rem 1.1rem;
    cursor: pointer;
    margin: 0.2rem;
}
.btn-primary {
    background-color: var(--shade1);
    color: white;
    transition: 0.3s ease-in-out;
}
.btn-primary:hover {
    background-color: var(--secd);
}
.btn-primary:active {
    text-decoration: underline;
}
.btn-round {
    border-radius: 1rem;
}
.btn-txt {
    transition: 0.1s ease-in-out;
    color: rgb(55, 69, 219);
    padding: 0px;
}

.btn-txt:hover {
    color: rgb(40, 50, 250);
    text-decoration: underline;
}
.flexbox-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.navbar-container {
    display: flex;
    background: var(--prim);
    position: sticky;
    padding-right: 3rem;
    top: 0;
    left: 0;
    height: 3.5rem;
    align-items: center;
    justify-content: space-between;
}
.navbar-brand {
    display: flex;
    align-items: center;
}
.navbar-icon {
    height: 3rem;
    width: 3rem;
    margin-left: 1rem;
    border-radius: 50%;
}
.navbar-brand h3 {
    margin: 0px 1rem 0rem 1rem;
    color: white;
    font-size: 1.5rem;
}

.navbar-items {
    display: flex;
    height: 100%;
    align-items: center;
}

.navbar-link {
    display: inline-block;
    text-decoration: none;
    font-size: 1.3rem;
    height: 100%;
    text-align: center;
    position: relative;
    color: white;
    padding: 0.8rem 3rem 0rem 3rem;
}
.navbar-link:hover {
    background: var(--secd);
}
.menubar-show {
    margin: 0px 0.5rem;
    width: 2rem;
    height: 2rem;
}
.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 1rem;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 3rem;
    box-shadow: 0px 0px 3px black;
    margin-left: 3px;
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content:hover a:hover {
    background-color: #ddd;
}

.card-user-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    max-width: 8rem;
    height: 2.5rem;
    border-radius: 0.5rem;
}
.card-user-icon {
    width: 2rem;
    height: 2rem;
    margin-left: 0.6rem;
    border-radius: 50%;
    border: solid black 1px;
}
#card-user-name {
    font-size: 0.8rem;
    padding: 0.7rem;
}
.card-user-container:hover {
    cursor: pointer;
    background-color: #ddd;
}

/* sidebar  */
.sidebar {
    display: flex;
    background-color: var(--prim);
    height: 3rem;
    width: 3rem;
    justify-content: start;
    align-items: center;
}
.menu-btn > svg {
    margin-left: 0.8rem;
    font-size: 1.6rem;
    background: none;
    color: white;
}

.menu {
    background-color: var(--prim);
    width: 15rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 1.2s ease-in;
}
.menu.active {
    left: 0;
    transition: 1s ease-out;
}
.menu-items {
    list-style: none;
    width: 100%;
}
.menu-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0.5rem 1rem 0.5rem 1rem;
    height: 3.2rem;
}
.menu-text > a {
    text-decoration: none;
    color: white;
    font-size: 1.2 rem;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    width: 100%;
}
.menu-text > a:hover {
    background-color: #2b7a78;
}
.menu-text span {
    margin-left: 1.5rem;
}
.menu-close-btn {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: start;
    align-items: center;
}
/* /sidebar */

@media only screen and (max-width: 1110px) {
    .navbar-link {
        padding: 1rem;
        font-size: 1rem;
    }

    .navbar-brand h3 {
        font-size: 1.2rem;
    }
    .btn {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 900px) {
    .navbar-link {
        display: none;
    }
    .menubar-show {
        width: 1.2rem;
        height: 1.2rem;
    }
    .card-user-container {
        height: 1.8rem;
    }
    .card-user-icon {
        height: 1.6rem;
        width: 1.6rem;
    }
}

@media only screen and (max-width: 600px) {
    .navbar-icon {
        display: none;
    }
    #btn-sign-in {
        font-size: 0.7rem;
    }
    .dropdown {
        margin-left: 0;
    }
    .navbar-container {
        padding-right: 0rem;
    }
    .navbar-brand h3 {
        font-size: 1rem;
        margin-left: 0.2rem;
        margin-right: 0.2rem;
    }
    #card-user-name {
        display: none;
    }
    #card-dropdown {
        left: -4rem;
        font-size: 0.8rem;
        width: 5.8rem;
    }
    .card-user-icon {
        margin: 0 0.5rem 0 0.5rem;
    }
}
