.not-started-container{
    padding: 0 0.5rem 0 0.5rem;
}

.not-started-main{
    margin-top: 0.5rem;
}

.main-countdown{
    width: 50vw;
    display: flex;
    justify-content: center;
    /* margin-top: 1rem; */
    background-color: rgb(235, 236, 141);
    border-radius:10px;
    margin-left: 1rem;
}

.rules-block{
    background-color: burlywood;
    overflow-y: auto;
    height: 5rem;
}

.rules-list{
    margin-left: 2rem;
}

.started-block{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
    margin-top: 1rem;
}

.question-student{
    margin-top: 1rem;
}
.question-ul{
    margin-top: 0.3rem;
    list-style: none;
}

.question-ul li{
    margin-left: 2rem;
}

.started-form{
    padding: 1rem;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.started-btn-block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 2rem;
}
.started-btn{
    cursor: pointer;
    padding: 0.5rem;
}
