.body-contd {
    padding: 0.5rem 3rem 1rem 2.3rem;
}

.heading {
    margin: 0;
    color: #fff;
    font-family: monospace;
    border: 0;
}
.quiz {
    width: 50vw;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    background-color: rgb(235, 236, 141);
    border-radius: 10px;
}

.quiz-form {
    /* background-color: #f5f5f5; */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.quiz-table tr td label {
    font-weight: bold;
    font-family: monospace;
}

.quiz-table tr td {
    padding: 0.3rem;
}

.quiz-table tr td input {
    font-family: monospace;
}

.quiz-btn {
    margin-top: 2rem;
    cursor: pointer;
    /* width: 15vw !important; */
    background-color: #000;
    color: #fff;
    border: 2px solid #000;
    border-radius: 5px;
    transition: 300ms ease-in-out;
    padding: 0.5rem;
}

.quiz-btn:hover {
    color: #000;
    background-color: #fff;
}

.quiz-form table tr td input {
    width: 30vw;
    text-align: center;
    padding: 0.5rem;
}

.quiz-form table tr {
    padding: 2rem;
}

.quiz-form table tr td label {
    margin-right: 1rem;
}

.hero-container {
    /* height: 20vh; */
    margin-top: 1rem;
    padding: 1rem;
    background-color: #252525;
    color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: end;
}

.main-container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap:1rem;
    /* flex-wrap: wrap; */
}

.main-info {
    width: 45vw;
    border-radius: 10px;
    background-color: rgb(226, 236, 141);
    padding: 1rem;
    margin-top: 1rem;
}

@media only screen and (max-width: 900px){
    .body-contd{
        padding:0.1rem;
    }
    .quiz{


    }
} 

@media only screen and (max-width:700px) {
    .main-container{
        flex-wrap: wrap ;
    }
    .main-info,.quiz{
        width: 100%;
    }

    .big-table-content > tr > th, .big-table-content > tr > td{
        padding-left: 0;
    }
    .quiz-table tr td{
        text-align: center;
    }

    .quiz-form,.quiz-table,.quiz-form table tr td input{
        width: 100%;
    }
}

.question-block {
    margin-top: 1rem;
    padding: 1rem;
    background-color: palegreen;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-family: monospace;
}

.question-arrow {
    cursor: pointer;
    transition: 300ms ease-in-out;
}

.questions {
    background-color: rgb(238, 238, 238);
}

.individual-question {
    background-color: peachpuff;
    margin-bottom: 0.5rem;
    font-family: monospace;
    padding: 1rem;
}

.individual-question-heading {
    display: flex;
    align-items: center;
    font-family: monospace !important;
}

.individual-question-options {
    margin-left: 4rem;
    display: none;
    margin-top: 0.3rem;
    margin-bottom: 0.5rem;
}

.right {
    margin-left: auto;
    margin-right: 1rem;
    gap: 1rem;
}

.toggle-test-btn {
    cursor: pointer;
}
